#!/bin/bash
# STANDARD CONFIG FOR ALL AMAZON LINUX 3 ETL INSTANCES
sudo yum update -y
sudo yum install docker -y
sudo systemctl start docker
sudo systemctl enable docker
mkdir /logstash
mkdir /logstash/pipeline
mkdir /logstash/patterns
aws s3 cp s3://${aws_s3_bucket_id}/avx.conf /logstash/patterns/avx.conf
aws s3 cp s3://${aws_s3_bucket_id}/${logstash_config_name} /logstash/pipeline/${logstash_config_name}
