# DOCKER RUN FOR AZURE LOG INGESTION API OUTPUT
sudo docker run -d --restart=always -v /logstash/pipeline/:/usr/share/logstash/pipeline/ -v /logstash/patterns:/usr/share/logstash/patterns -e AZURE_DCE_ENDPOINT=${azure_dce_endpoint} -e AZURE_ACCESS_TOKEN=${azure_access_token} -e AZURE_DCR_SURICATA_ID=${azure_dcr_suricata_id} -e AZURE_DCR_MITM_ID=${azure_dcr_mitm_id} -e AZURE_DCR_MICROSEG_ID=${azure_dcr_microseg_id} -e AZURE_DCR_FQDN_ID=${azure_dcr_fqdn_id} -e AZURE_DCR_CMD_ID=${azure_dcr_cmd_id} -e AZURE_STREAM_SURICATA=${azure_stream_suricata} -e AZURE_STREAM_MITM=${azure_stream_mitm} -e AZURE_STREAM_MICROSEG=${azure_stream_microseg} -e AZURE_STREAM_FQDN=${azure_stream_fqdn} -e AZURE_STREAM_CMD=${azure_stream_cmd} -e XPACK_MONITORING_ENABLED=false -p 5000:5000 aviatrixacr.azurecr.io/aviatrix-logstash-sentinel